// Start here for this Koan...

// Contemplate the documentation here: http://docs.atomist.com/reference-docs/rug/rug-tests/

scenario Step2 should create a new project with the mandatory project_name parameter

// `let` rug initialise a named value called `project_name` with the string contents "mynewprojectname"

// Now jump to ".atomist/editors/Step2.rug"

given
  ArchiveRoot

when
  Step2

then
  fileExists "README.md"
    and fileContains "README.md" { "Hello! " + project }
    and fileExists "staticprojectfile.txt"
    and fileContains "staticprojectfile.txt" "Important Content!"
