// This is your first Rug!

// Start by completing the instructions in the ".atomist/tests/Step1.rt" first if you haven't already

// Part 1:
// Contemplate the documentation here: http://docs.atomist.com/reference-docs/rug/rug-generators/

// Add an annotation to declare this Rug editor is, in fact, a generator of new projects
editor Step1

// Instruct the editor to work with the Project and then do a merge to take a mustache template file called "readme.mustache" and make a file called "README.md" in the resulting project

// Part 2:
// Contemplate the documentation here: http://docs.atomist.com/reference-docs/rug/rug-templates/

// Now create a new directory called ".atomist/templates"

// Create a file in the ".atomist/templates" directory that contains the string "Hello!" only.

// Finally...
// run `rug test` from your project's root directory and your tests should pass.
