/* Add an annotation to declare this Rug editor is, in fact, a generator of new projects */
@generator
editor Step1Solution

/* Instruct the editor to work with the Project to create a new file called `README.md` in the root of the project with the file's contents being `Hello!` */
with Project
  do addFile "README.md" "Hello!"
